
<!--Main Body Section -->    
  <%- contentFor("hero") %>

  


  <section class="hero">
    <div class ="hero-content">
      <h2>Twitter and Google Trends Data Analysis</h2>
      <p>gain insights from competitors' products and services</p>

    </div>
<!--Animation Button-->
    <div>
      <a href="#" class="button--scroll animation animation--infinite animation--up-down"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="-275 398.7 44.2 44.2"><path fill="#fff" d="M-275 420.8c0-12.2 9.9-22.1 22.1-22.1s22.1 9.9 22.1 22.1c0 12.2-9.9 22.1-22.1 22.1s-22.1-9.9-22.1-22.1zm42.7 0c0-11.4-9.2-20.6-20.6-20.6-11.4 0-20.6 9.2-20.6 20.6 0 11.4 9.2 20.6 20.6 20.6 11.4 0 20.6-9.3 20.6-20.6zM-260.6 418c0-.2.1-.4.2-.5.3-.3.8-.3 1.1 0l6.8 6.8 6.8-6.8c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-7.3 7.3c-.3.3-.8.3-1.1 0l-7.3-7.3c-.3-.2-.3-.4-.3-.6z"/></svg></a>
    </div>
  </section>

 


  <%- contentFor("jumbotron text-center") %>

  <div class="jumbotron text-center">
       

  <div class="choice-container">
    
        <h2>Check which one has the winning edge?</h2>
        <p class="lead">Use Twitter sentiment analysis to find out which product or service is winning.</p><br><br>
        <div class="form-container">
          <form action="" method="post">
            <input id="choice1" type="text" data-choice="1" placeholder="   Your product (i.e., iPhone 8)" name="choice1" class="choice" size="35" style="height:50px;font-size:18pt; padding: 30px;">
            <input id="choice2" type="text" data-choice="2" placeholder="   Your competitors' (i.e., Pixel)" name="choice2" class="choice" size="35" style="height:50px;font-size:18pt; padding: 30px;">
            <br><br>
            <input id="decision" type="submit" value="Check!" class="btn btn-success btn-lg">
          </form>
        </div><br><br>
        <div class="decision-container">
          <p id="status"></p>
          <h1 id="decision-text"></h1>
          <p id="score"></p>
          <input id="again" value="Again?" class="btn btn-success btn-lg">
        </div>
   
  </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
    <script> console.log("hello")</script>
</div>























